body{
    margin: 0;
    font-family: 'Handlee', cursive;
    font-weight: 'bolder';
}
.maindiv{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color:white;
    margin-bottom: 10px;
}